body {
  background-color: #d1e0e0;
  font-family: 'Nunito', sans-serif;
}

.pics {
  align-content: center;
  border-style: outset;
  width: inherit;
  padding: 6px;
}

h1 {
  margin-top: 80px;
  text-align: center;
}

h2 {
  text-align: center;
  margin-bottom: 50px;
}

#buttons {
  margin-left: 515px;
}

#productChart {
  width: 750px;
  margin-left: 250px;
}

#myChart {
  padding-top: 50px;
}

#edit {
  visibility: hidden;
}
