body {
  background-color: #d1e0e0;
  font-family: 'Nunito', sans-serif;
}

#left {
float:left;
border-style: outset;
padding: 3px;
width: 50;
height: 50;
}

#middle {
float:center;
border-style: outset;
padding: 3px;
width: 50;
height: 50;
}

#right {
float:right;
border-style: outset;
padding: 3px;
width: 50;
height: 50;
}

#img container {
  margin-left: 155px;
  margin-right: 165px;
}

h1 {
  margin-top: 80px;
  text-align: center;
}

h2 {
  text-align: center;
  margin-bottom: 50px;
}

#buttons {
  margin-left: 500px;
}

#productChart {
  text-align: left;
  margin-left: 375px;
}

#edit {
  visibility: hidden;
}
